### Task 1

Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [4]:
import pandas as pd

In [12]:
tab = pd.read_csv('laptop_price.csv')

In [14]:
tab.head(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

### Task 2

Проведите первичный анализ данных.  
Изучите типы данных.  
Найдите количество пропущенных ячеек в данных.  
Посчитайте основные статистики по всем признакам и поизучайте их.

In [17]:
tab.dtypes

laptop_ID            object
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight               object
Price_euros         float64
dtype: object

In [15]:
tab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   object
 1   Company           1295 non-null   object
 2   Product           1295 non-null   object
 3   TypeName          1295 non-null   object
 4   Inches            1295 non-null   float64
 5   ScreenResolution  1295 non-null   object
 6   Cpu               1295 non-null   object
 7   Ram               1295 non-null   object
 8   Memory            1295 non-null   object
 9   Gpu               1295 non-null   object
 10  OpSys             1295 non-null   object
 11  Weight            1295 non-null   object
 12  Price_euros       1295 non-null   float64
dtypes: float64(2), object(11)
memory usage: 132.5+ KB

In [18]:
tab.isnull().sum()

laptop_ID           0
Company             8
Product             8
TypeName            8
Inches              8
ScreenResolution    8
Cpu                 8
Ram                 8
Memory              8
Gpu                 8
OpSys               8
Weight              8
Price_euros         8
dtype: int64

In [19]:
tab.describe()

            Inches  Price_euros
count  1295.000000  1295.000000
mean     15.030270  1124.317266
std       1.415632   700.193254
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1489.495000
max      18.400000  6099.000000

### Task 3

#### 3.1 Ноутбуков от какой компании больше всего в наборе данных?

In [23]:
tab['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         15
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Google         3
Fujitsu        3
LG             3
Huawei         2
Chuwi          1
Name: count, dtype: int64

#### 3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?

In [30]:
tab['Price_euros'].max()

6099.0

In [31]:
tab['Price_euros'].min()

174.0

#### 3.3 Какой самый дорогой ноутбук в данных?

In [33]:
max_laptop = tab[tab['Price_euros'] == tab['Price_euros'].max()]
max_laptop

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

In [39]:
tab.sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

### Task 4

#### 4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:  
Компания  
Типа ноутбука  
Диагональ  
Стоимость  
Если таких ноутбуков несколько, то выводите их всех

In [75]:
max_diag = tab[(tab['Inches'] == tab['Inches'].min())]
max_diag[['Company', 'Product', 'Inches', 'Price_euros']]

     Company    Product  Inches  Price_euros
50    Lenovo  Yoga Book    10.1       319.00
1082  Lenovo  Yoga Book    10.1       646.27
1114  Lenovo  Yoga Book    10.1       549.00
1126  Lenovo  Yoga Book    10.1       479.00

In [74]:
tab[(tab['Inches'] == tab['Inches'].min())][['Company', 'Product', 'Inches', 'Price_euros']]

     Company    Product  Inches  Price_euros
50    Lenovo  Yoga Book    10.1       319.00
1082  Lenovo  Yoga Book    10.1       646.27
1114  Lenovo  Yoga Book    10.1       549.00
1126  Lenovo  Yoga Book    10.1       479.00

#### 4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [76]:
tab[(tab['Company'] == 'HP')]['Price_euros'].max()

4389.0

In [58]:
tab[(tab['Company'] == 'HP')].sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                     758
Company                                        HP
Product                                  Zbook 17
TypeName                              Workstation
Inches                                       17.3
ScreenResolution      IPS Panel Full HD 1920x1080
Cpu                 Intel Xeon E3-1535M v5 2.9GHz
Ram                                          16GB
Memory                                  256GB SSD
Gpu                          Nvidia Quadro M2000M
OpSys                                   Windows 7
Weight                                        3kg
Price_euros                                4389.0
Name: 749, dtype: object

#### 4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [83]:
ultra_all = tab[(tab['TypeName'] == 'Ultrabook')].shape[0]
ultra_8 = tab[(tab['Ram'] == '8GB') & (tab['TypeName'] == 'Ultrabook')].shape[0]
result = round((ultra_8 / ultra_all) * 100, 2)
result

70.53

### Task 5

#### 5.1 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в стоимости до 500 евро, сколько у него вариантов?

In [94]:
tab[((tab['Ram'] == '8GB') | (tab['Ram'] == '16GB')) & (tab['OpSys'] == 'Windows 10') & (tab['Price_euros'] < 500)].shape[0]

13

#### 5.2 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли подобные ноутбуки?

In [97]:
up_level = tab[(tab['Company'] == 'MSI') & (tab['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (tab['Inches'].isin([15.6]))]['Price_euros'].max()

In [98]:
down_level =tab[(tab['Company'] == 'MSI') & (tab['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (tab['Inches'].isin([15.6]))]['Price_euros'].min()

In [100]:
down_level, up_level

(1191.8, 1299.0)

In [107]:
new = tab[(tab['Company'] == 'MSI') & (tab['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (tab['Inches'].isin([15.6]))]
(new['Price_euros'].min(), new['Price_euros'].max())

(1191.8, 1299.0)

#### 5.3 Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel Core i7 7600U 2.8GHz?

In [120]:
if min(tab[tab['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz']['Price_euros'].mean(),tab[tab['Cpu'] == 'Intel Core i7 7600U 2.8GHz']['Price_euros'].mean()) == tab[tab['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz']['Price_euros'].mean():
    print('Intel Core i7 7700HQ 2.8GHz')
else:
    print('Intel Core i7 7600U 2.8GHz')

Intel Core i7 7700HQ 2.8GHz

### Task 6

#### Найдите самый легкий ноутбук
Но обратите внимание на тип и представление данных в признаке Weight,  
если что, замените в строке 'kg' на пустую строку через метод .str.replace()

In [121]:
tab['Weight'].str.replace('kg','').astype('float64').min()

0.69